*{
    font-family: $mainFont;
}

.body-img{ 
    background-image: url(../img/NefertitiBG360.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $mainColor;
    }
    

.header{
    width: $fullWidth;
    height: 130px;
}

.background-black{
    background-color: $mainColor;
}
.background-white{
    background-color: $secondaryColor;
}

.text-white{
    color: $secondaryColor;
}
.text-red{
    color:$btnColor;
}
.text-black{
    color: $mainColor;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.margin-top{
    margin: $marginTop;
}
.margin-left{
    margin-left: 10px;
}
.margin-bottom{
    margin-bottom: $marginBottom;
}
.margin-right{
    margin-right: 10px;
}
.margin-auto{
    margin:auto;
}
.margin-footer{
    margin-top: $marginFooter;
}
.text-decoration{
    text-decoration: none;
}

p{
    font-weight: 500;
}
h1{
    font-size: $textLg;
}
h2{
    font-size: $textMd;    
}
h3{
    font-size: $textNormal ;
}
p{
    font-size: $textp;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.icon{
    width: $iconSize;
}

.header{
    position: fixed;
    top: 0;
    width: $fullWidth;
    
}


