.marginMain{
    margin-top: 50px;
}
.textTitulo{
    text-align: center;
    color: $secondaryColor;
}

.form-flex{
    
    margin-left: 20px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-end;
    
}

.last{
    margin-top:50px ;
    margin-bottom: 20px;
    font-size: $textp;
    color: $secondaryColor;
    line-height: normal;
    text-align: center;
    a{
        color: $secondaryColor;
        &:hover{
            color:$btnColor
        }
    }
    
}

.booking-box{
    
    height: 300px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: $specialColor;
    color:$mainColor;
    padding: 5px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logoXelcambio{
        width: 300px;
        height: 300px;
    
    }
        
}
