//extends

.footerHome{
    @extend .footer;
    color: $textspecial;
    font-size: $textp;
    text-align: center;
    margin-top: $marginTop;

}

.box-gral{
    width: $fullWidth;
    padding: 10px 60px;
    
    
}
.box-white{
    @extend .box-gral;
    background-color: $secondaryColor;
}

.btnTienda2{
    @extend .btn-tienda;
    background-color: $secondaryColor;
    padding:4px;
    border-radius: 5px;
    border: none;

    a{
        color:$mainColor;
        text-decoration: none;
        text-align: center;
        font-size: $textspecial;
        &:hover{
            color: $btnColor;
        }
    
        }
    }






// mixins 

@mixin textos ($line, $color){
    
    line-height: $line;
    color: $color;
    font-family: $mainFont;
}

@mixin flexArticulos ($direction, $align){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    
}



    


