.btn-tienda{
    border-radius: 2px;
    border:solid;
    background-color: $mainColor;
    color: $secondaryColor;
    padding:4px;

}

.actions{
        background-color: $secondaryColor;
        display: flex;
        justify-content: flex-end;
        align-items: center;
}
    
.form{
        input{
            padding: 6px;
            border: none;
            border-radius: 3px;
            background-color: $inputColor;

        }
        button{
            margin-top: $marginTop;
            background-color: $btnColor;
            color: $secondaryColor;
            padding: 6px;
            border: none;
            border-radius: 3px;
            margin-right: 7px;

        }
    }



.three{
    margin-left: 20px;
    margin-top: $marginTop;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
        a{
        color: rgb(123, 123, 123);
        font-size: $textp;
        list-style: none;
        text-decoration:none;
        margin-bottom: 4px;
        text-transform: lowercase;
        &:hover{
            color:$hoverColor;
            }
        }
        span{
            display:block;
            color: $mainColor;
            margin: 10px 0;
            letter-spacing: 1px;
        }
        select{
            color: $btnColor;
            border: none;
            background-color: $secondaryColor;
            margin-bottom: 10px;
            font-size: $textspecial;
        }
        li{
            padding-left: 10px;
            list-style: none;
        }      
    }
.figure{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;    

        figcaption{
            color: $mainColor;
            font-size: $textspecial;
            margin-top: $marginTop;
           
                p{
                    font-size: $textp;
                    line-height: 1em;
                }
            }            
        }    
    

