.btn-tienda{
    border-radius: 2px;
    border:solid;
    background-color: $mainColor;
    color: $secondaryColor;
    padding:4px;

}

.actions{
    background-color: $secondaryColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.actions button{
    margin-top: $marginTop;
    background-color: $btnColor;
    color:$secondaryColor;
    padding: 6px;
    border: none;
    border-radius: 3px;
    margin-right: 7px;


}
.actions input{
    padding: 6px;
    border: none;
    border-radius: 3px;
    background-color: $inputColor;

}

.three{
    margin-left: 20px;
    margin-top: $marginTop;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

    .three a{
    color: $keycolor;
    font-size: $textp;
    list-style: none;
    text-decoration:none;
    margin-bottom: 4px;
    text-transform: lowercase;
}
    .three a:hover{
        color: rgb(135, 53, 53);
    }
    .three span{
    display:block;

    color: $mainColor;
    margin: $marginTop;
    letter-spacing: 1px;
    }
    .three select{
    color: $btnColor;
    border: none;
    background-color: $secondaryColor;
    margin-bottom: 10px;
    font-size: $textspecial;
    }
    .three li{
    padding-left: 10px;
    list-style: none;

    }   



.figure{
    margin-top: 20px;
    @include flexArticulos (column, center)
    }
    .figure figcaption{
        color: $mainColor;
        font-size: $textspecial;
        margin-top: $marginTop;
        text-align: justify;   
        }
    .figure p{
        font-size: $textp;
        line-height: 1em;
    }


