// colores

$mainColor: #000000;
$secondaryColor:#ffffff;
$btnColor:#ff0000;
$specialColor: #fecd08;
$keycolor: #898989;
$hoverColor:#873535;
$bookingBoxColor:#bdbdbd5b;
$inputColor:#bebebe; 

//fonts//

$mainFont : Friz Quadrata;
$textLg : 2em;
$textMd : 1.5em;
$textp : 0.9em;
$textspecial:1.2em;
$textsm: small;
$textNormal:1em;

//sizing//
$fullWidth: 100%;
$halfWidth:50%;
$iconSize: 150px;
$bgFull:100%;

// margenes //
$marginTop: 20px;
$marginFooter : 70px;
$marginBottom: 10px;

// style //
$borderRadius: 10px;









