// colores

$mainColor: black;
$secondaryColor:white;
$btnColor:red;
$specialColor: #fecd08;
$keycolor: rgb(137, 137, 137);
$hoverColor:rgb(135, 53, 53);
$bookingBoxColor:rgba(189, 189, 189, 0.358);
$inputColor:rgb(190, 190, 190); 

//fonts//

$mainFont : Friz Quadrata;
$textLg : 2em;
$textMd : 1.5em;
$textp : 0.9em;
$textspecial:1.2em;
$textsm: small;
$textNormal:1em;

//sizing//
$fullWidth: 100%;
$iconSize: 150px;

// margenes //
$marginTop: 10px;








